target/
.tmp-snailai-src/
.cursor/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
*.log
upload/
.flattened-pom.xml
**/dependency-reduced-pom.xml
.DS_Store
*.class
